<div fxLayout="row" class="fondo" fxLayout.xs="column">
  <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/administracion">
        <mat-icon>table_chart</mat-icon>
        <span>Administrar datos</span>
      </button>
      <button mat-menu-item routerLink="/graficos">
        <mat-icon>graphic_eq</mat-icon>
        <span>Ver gráfico</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
</div>
<router-outlet></router-outlet>


